 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="../../../dist/main.js"></script>
</head>


 <header>
  <body class="container">
     <header>
           <div class="title">
                Travel App
            </div>
        </header>
        <main>
            <section>
                
                   <label for="Departure">When are you departing?</label>
                   <input type="date" id="Departure" name="trip-Departure"
                   value="2020-05-13"
                   min="2020-01-01" max="2020-12-31">
                   <label for="Returning-Date">Returning Date:</label>
                   <input type="date" id="Returning" name="trip-Returning"
                   value="2020-05-22"
                   min="2020-01-01" max="2020-12-31">
                   <div class ="holder city">
                    <label for="city">Where would you like to go?</label>
                    <input type="text" id="city" placeholder="enter city here">
                    </div>
                    <button id="button" type = "submit"  > Save trip </button>
                 </div>
                </form>
              </section>
        <div id="app">
            <div class="holder-headline" id="holder-headline">Details</div>
            <div class="holder-entry">
            <div id="city_picture">
                    
                </div>
            <div id="entryHolder">
                    <div id="tripLocationTitle">Plan Trip to:</div>
                    <div id="datediff"></div>
                    <div id="latitude"></div>
                    <div id="longitude"> </div>
                    <div id="country"> </div>
                    <div id="hightemp"></div>
                    <div id="lowTemp"></div>
                    
                    
             </div>
           </div>

    </div>
    </main>
    <script>
        
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        

</script> 
</html>

